@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@utility container {
  margin-inline: auto;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-heading: var(--font-anton);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: var(--font-anton);
}

.lines-js {
  overflow: hidden;
  display: block;
}

.word-js {
  display: inline-block;
  will-change: transform;
}
