@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --light-grey: #F6F4F3;
  --accent-orange: oklch(0.772 0.1735 64.44);
}

@utility container {
  margin-inline: auto;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-heading: var(--font-anton);
  --font-serif: var(--font-serif);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-light-grey: var(--light-grey);
  --color-accent-orange: var(--accent-orange);
}

@layer utilities {
  .text-136px {
    font-size: clamp(4rem, 2.7857rem + 6.0714vw, 8.25rem);
    line-height: 1.1;
  }
  .text-120px {
    font-size: clamp(3rem, 1.7143rem + 6.4286vw, 7.5rem);
    line-height: 0.94;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}

h1 {
  font-family: var(--font-anton);
}

/* .text-136px {
  font-size: clamp(2.5rem, 1.964vw + 0.607rem, 8.5rem);
  line-height: 1.1;
} */

.text-40px {
  font-size: clamp(1.5rem, 1.964vw + 0.607rem, 2.375rem);
  line-height: 1.1;
}

.lines-js {
  overflow: hidden;
  display: block;
}

.word-js {
  display: inline-block;
  will-change: transform;
}
